html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.izbornik{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    font-size: 15px;
    padding: 5px;
    background-color: rgb(250, 251, 251);
}

.izbornik div{
    margin: 0 10px;
}

.izbornik li{
    list-style: none;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

.izbornik p{
    margin: 0;
    cursor: pointer;
}

.izbornik ul{
    margin: 0;
}

.grid-predmeta{
   padding-top: 50px;
}

.grid-predmeta p{
    color: rgb(35, 32, 32);
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}

/* @media (max-width:300px){
    .bsc_1,
    .bsc_2{
    display: grid;
    grid-template-columns: 200px;
    row-gap: 10px;
    justify-content: center !important;
}
}

@media (max-width:440px){
    .bsc_1,
    .bsc_2{
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    justify-content: space-around;
}
}

@media (max-width:660px){
    .bsc_1,
    .bsc_2{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    justify-content: space-around;
}
}

@media (max-width: 800px){
    .izbornik{
        position: relative;
        font-size: 10px;
        z-index: 0;
        margin: 0;
    }
}  */

.bsc_1,
.bsc_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.bsc_1 div,
.bsc_2 div{
    padding: 30px;
    border: 1px solid black;
    border-radius: 4px;
/*margin-bottom: 10px;*/
}

.bsc_1 p,
.bsc_2 p{
    font-size: 15px;
    text-align: center;
}

.obavezni_predmet,
.obavezni_predmet img{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.izborni_predmet,
.izborni_predmet img{
    background-color: powderblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.neaktivni_predmet,
.neaktivni_predmet img{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

